body {
  background-color: black;
  color:white;
  font-family: sans-serif
}

.grid-container {
  display: grid;
  grid-template-columns: 7% 1fr;
  grid-template-areas:
    "navbar content"
    "navbar content"
    "navbar content";
  min-height: 100vh; /* Ensure the container takes at least the viewport height */
}

.content {
  grid-area: content;
  background-color: #333;
}

.navbar {
  grid-area: navbar;
  text-align: center;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

#logout {
  position: fixed;
  bottom:0
}

.navitem {
  margin: 0.25rem;
  padding: 1rem;
}

.musicdisplay .button {
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5rem ;
  background-color: grey;
  text-align: center;
}

.musicdisplay .selected {
  color: black;
  background-color: green;
}

.navitem:hover {
  background-color: #3a3a3a;
}

.navitem:active {
  background-color: black;
}


#selectnavitem {
  background-color: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
