:root {
  --sidebar-menu-width:6rem;
  --background-grey:#333;
  --top-bar-height:3rem;
  --musicshare-green:darkgreen;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color:white;
  font-family: sans-serif;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-areas:  "topbar topbar"
                        "sidebar main";
  grid-template-columns: var(--sidebar-menu-width) 1fr;
  grid-template-rows:  var(--top-bar-height) 1fr;
}

.sidebar {
  grid-area: sidebar;
  text-align: center;
  background-color: var(--background-grey);
}

.main {
  grid-area: main;
  height: 100vh;
}

.topbar {
  grid-area: topbar;
  background-color: var(--musicshare-green);
  position: sticky;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0px 3rem;
  top: 0px;
  height: var(--top-bar-height);
}

.topbar .logo {

}

.button {
  cursor: pointer;
}

.icon {
  width: 2vw;
  height: 2vh;
}

.content {
  background-color: var(--background-grey);
}

.musicimage {
  width: 2.5vw;
  height: 3.5vh;
}


.nav-item:hover {
  background-color: rgb(77, 75, 75);;
}

.nav-item:active {
  background-color: rgb(34, 34, 34);
}


#selectnavitem {
  background-color:var(--musicshare-green);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
